.conversation-list-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.conversation-list-item:hover {
  background: #eeeef1;
  cursor: pointer;
}

.conversation-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.conversation-title {
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 0;
}

.conversation-snippet {
  font-size: 14px;
  color: #888;
  margin: 0;
}

.messenger {
  display: grid;
  width: 100%;
  height: calc(100vh - 65px);
  background: #eeeef1;

  grid-template-columns: 350px auto;
  grid-template-rows: 60px auto 60px;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}

.container {
  padding: 10px;
}

.scrollable {
  position: relative;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.sidebar {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.content {
  background: white;
  grid-row-start: 1;
  grid-row-end: span 3;
}

.footer {
  grid-column-start: 2;
  background: white;
}

main{
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}


.sent{
  display: flex;
  justify-content: flex-end;
}

.bubble-container{
  max-width:70%
}

.replies{
  display: flex;
  justify-content: flex-start

}

.sent .bubble-container{
  background: #007aff; 
    padding: 10px;
}

.replies .bubble-container{
  background: #f4f4f8; 
  padding: 10px;
}

.bubble-container{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 10px;
}

.sent .bubble-container .bubble{
  color: #f4f4f8;
}

.bubble-container:last-child{
  margin-bottom: 60px;
}