/* search */
.autocomplete-result{
    color:black
  }
  
  #autocomplete {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
  }
  
  #no-results {
    display: none;
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 100%;
  }
  
  .no-results #no-results {
    display: block;
  }
  
  .no-results .autocomplete-input.focused {
    border-bottom-color: transparent;
    border-radius: 8px 8px 0 0;
  }
  
  .no-results .autocomplete-input:not(.focused) ~ #no-results {
    display: none;
  }
  
  .autocomplete-result-list{
    background: whitesmoke;
    position: absolute;
    padding: 0px;
    width: 100%;
    z-index: 10;
     
  }
  
  .autocomplete-result-list li{
    list-style: none;
    padding: 10px;
  }

  .MuiToolbar-root{
      justify-content: space-between;
  }
  /* .MuiInputBase-root .MuiInputBase-input{
      color:wheat !important
  } */
   #searchInp{
       color:white
   }
   main>.MuiPaper-root{
    margin:30px !important
  }
  #settchange{
    padding: 40px;
    text-align: center;
  }

  .actions{
    display:inline-flex
  }
  .friendCard{
    padding: 50px;
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
  } 

  .friendlist{
    display: inline-flex;
    flex-wrap: wrap;
  }
  .friendlist .MuiCard-root{
    margin: 20px;
  }

  .friendsOnline{
    display: inline-flex;
    flex-wrap: wrap;
    margin: 10px;
  }

  .friendCard{
    display: block;
    padding: 0;
    width: 100px;
    margin: auto;
  }