.loginBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}
.changeloginBox {
  width: 50%;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  padding:0px 0px 20px;
  background-color: white;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
}

.MuiDrawer-paper{
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.MuiListItemIcon-root{
  color:white !important
}

/* photos */
.demo {
  width: 200px;
  height: 250px;
  
  float: left;
  
  margin: 2em;
    
  perspective: 300px;
}
.card-content {
  width: 100%;
  height: 100%;
  background: gold;  
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(1deg);
  transition: all 0.3s ease-out;
  
  border-radius: 5px;
  
  transform-style: preserve-3d;
}
.demo:hover .card-content {
  transform: rotateY(-4deg);
}
.bg-object {
  background: orange;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  transform: translateZ(40px);
}

.title {
  transform: translateZ(80px);
  font-weight: bold;
}

/* Photo Card */
.demo {
  width: 200px;
  height: 250px;
  
  float: left;
  
  margin: 1em;
    
  perspective: 300px;
}
.card-content {
  width: 100%;
  height: 100%;
  background: gold;  
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotateY(1deg);
  transition: all 0.3s ease-out;
  
  border-radius: 5px;
  
  transform-style: preserve-3d;
}
.demo:hover .card-content {
  transform: rotateY(-4deg);
}
.bg-object {
  background: orange;
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  transform: translateZ(40px);
}

.title {
  transform: translateZ(80px);
  font-weight: bold;
}

/* Photo Card */
.demo.photo img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.demo.photo .bg-object {
  background: rgba(255,255,255,.5);
}

.publishings{
  display: block;
  justify-content: space-around;
}

.publishings textarea{
  height: 100% !important;
}

.publishings img {
  border-radius: 50px;
}

.publicMaterials{
  width: 100%;
    display: inline-flex;
    justify-content: space-around;
}

textarea{
  resize: none;
}

.bgMask{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background:rgba(0, 0, 0, 0.9);
  z-index: 99999999999999;
}
.notBgMask{
  display:none
}

.images{
  width: 50%;
  position: relative;
  left: 30%;
  top: 10%;
}

.images img{
  object-fit: cover;
  /* width: 100%; */
  height: 400px;
}

.closeBtn{
  position: relative;
  right: 1;
}
.arrows{
  position: absolute !important;
    top: 170px;
    width: 100%;
}