body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(176 166 166) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.theme{
  position: relative;
  bottom: 0;
  left:0;
  padding: 0;
}
.showThemes{
  display: none;
}
.hideThemes{
  width: 100%;
  /* height: 140px; */
  background-color: rgba(0,0,0,0.9);
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
}

.theme li{
  color:white;
  list-style: none;
  cursor: pointer;
}

@media only screen and (max-width: 599px) {
  .makeStyles-bgImg-19 {
    display: none !important;
  }
  .messenger{
    grid-template-columns: 200px auto !important;
    height: 100vh !important;
  }
  .scrolable.sidebar{
    width: 200px !important;
  }
}

@media only screen and (min-width: 600px){
  #burgerbtn{
    display: none;
  }
}


